.wave-animation {
    animation: waveAnimation 10s linear infinite;
    background: linear-gradient(45deg, #1a202c 25%, transparent 25%) -50px 0,
        linear-gradient(-45deg, #1a202c 25%, transparent 25%) -50px 0,
        linear-gradient(45deg, transparent 75%, #1a202c 75%) -50px 0,
        linear-gradient(-45deg, transparent 75%, #1a202c 75%) -50px 0, #0a0c10;
    background-size: 100px 100px;
    background-repeat: repeat;
    min-height: 100vh;
}

@keyframes waveAnimation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 25% 0;
    }
}